@mixin fuente-parrafo($color, $width, $align, $margen-bottom){
    color: $color;
    max-width: $width;
    text-align: $align;
    margin-bottom: $margen-bottom;
}


footer{
    .footer-content{
        .parrafo-1{
            @include fuente-parrafo(black, 600px, center, 10px)
        }
    }
}